CCFLAGS = ['-pipe','-fPIC','-funsigned-char','-fno-strict-aliasing']
CXXFLAGS = ['-pipe','-fPIC','-funsigned-char','-fno-strict-aliasing']
REL_CFLAGS = ['-O2']
REL_CCFLAGS = ['-O2']

WITH_BF_INTERNATIONAL = True
#WITH_BF_VERSE = True
WITH_BF_OPENAL = False
WITH_BF_GAMEENGINE = True
WITH_BF_FFMPEG = True
BF_OPENGL_LIBPATH = '/usr/lib'
#BF_PYTHON_VERSION = '3.1'
WITHOUT_BF_PYTHON_INSTALL=1
