CCFLAGS = ['-pipe','-fPIC','-funsigned-char','-fno-strict-aliasing']
CXXFLAGS = ['-pipe','-fPIC','-funsigned-char','-fno-strict-aliasing']
REL_CFLAGS = ['-O2']
REL_CCFLAGS = ['-O2']
BF_NUMJOBS = 1

WITH_BF_INTERNATIONAL = True
WITH_BF_OPENAL = False
WITH_BF_GAMEENGINE = True
WITH_BF_FFMPEG = True
WITH_BF_OGG = True
# Enable color correction with lcms
WITH_BF_LCMS = True
# Enable FFTW3 support (Used for smoke and audio effects)
WITH_BF_FFTW3 = True
# Elbeem (Fluid Simulation)
BF_NO_ELBEEM = False

# Do not change these

# Use the Unix "Filesystem Hierarchy Standard"
WITH_BF_FHS = True
# Do not install python libs
WITHOUT_BF_PYTHON_INSTALL = True
# Enable relocatable binary
WITH_BF_BINRELOC = False
